<div class="cardPrincipal">
    <p class="text">GPTW - Dimensões</p>
    <div class="align">
      <div>
        <mat-card class="subCard">
          <mat-card-header>Nota</mat-card-header>
          <mat-card-content>xx</mat-card-content>
          <mat-card-footer>Dado de 2023</mat-card-footer>
        </mat-card>
      </div>
      <div>
        <select [(ngModel)]="selecao" class="buttonSelect">
            <option value="" disabled selected>Dimensões</option>
            <option value="opcao1">Opção 1</option>
            <option value="opcao2">Opção 2</option>
            <option value="opcao3">Opção 3</option>
        </select>
      </div>
    </div>  
</div>
    
  