<div class="alignComponents">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <app-header></app-header>
        <app-titulo></app-titulo>

        <div class="alignCards">
            <app-card></app-card>
            <app-card2></app-card2>
            <app-card3></app-card3>
            <app-card4></app-card4>
        </div>

        <div class="alignItens">
            <div class="alignCards">
                <app-card5></app-card5>
                <app-card6></app-card6>
            </div>
            <div>
                <app-graphic-dash-geral></app-graphic-dash-geral>
            </div>
        </div>
    </div>
</div>
